h1{
  font-family: Arial;
  text-align: center;
  -webkit-text-stroke: .1rem #000;
  -webkit-text-fill-color: #fff;
}
.container{
  max-width: 100vw;
  height: 100%;
  overflow-y: scroll;
  border: .3rem solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  width: 20rem;
  height: 25rem;
  border: .1rem solid black;
  border-radius: 10px;
  box-shadow: .3rem .4rem .3rem .2rem rgba(150, 142, 142, 0.671);
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: .5rem;
  padding: .3rem;
}

input{
  padding: .5rem;
  outline: none;
}
button{
  width: 10rem;
  padding: .3rem;
  cursor: pointer;
}
#div{
  width: 15rem;
  height: 2rem;
  border: .1rem solid black;
  border-radius: .3rem;
  padding: .3rem;
  background: rgb(228, 236, 233);
}

#div-box, #box3{
  width: 15rem;
  height: 2rem;
  border: .1rem solid black;
  border-radius: .3rem;
  padding: .5rem;
  background: rgb(228, 236, 233);
  text-align: center;
  font-family: Verdana;
}

.box3{
  animation-name: slidein;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: linear;
  transition: all 300ms ease-in-out;
}
@keyframes slidein {
  from{
    background-color: aqua;
    width: 50px;
    top: 100px;
  }
  to{
    background-color: cadetblue;
    width: 300px;
    height: 300px;
    top: 10px;
  }
}



/* Responsive */
@media only screen and (max-width: 600px) {
  .box{
    width: 90%;
    height: 25rem;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 10px rgba(150, 142, 142, 0.671);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  #div-box, #box3{
    width: 10rem;
    height: 2rem;
  }
  #div{
    width: 10rem;
  }
}